*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.principal{
display: flex;
flex-direction: row;
justify-content: center;
margin-left:30% ;
margin-right: 30%;
border: 1px solid rgb(136, 130, 130);
padding: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
prin{
    width: 30%;
}
h1, p{
    text-align: center;
}
p{
    margin: 20px;
}
h1{
    margin-bottom: 25px;
}
input{
    padding: 1em;
}
input[type="submit"]{
    background-color: blue;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
::placeholder{
    font-size: 1.3em;
}